@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
button, .phone_num a, nav a {
  font-size: 20px;
  font-weight: 400;
  color: #475658;
  text-decoration: none;
}

header {
  padding: 20px 0;
}
header .container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 235px;
}

nav {
  margin-right: 95px;
}
nav a:first-child {
  margin-right: 85px;
}

.phone {
  display: flex;
}
.phone_num {
  display: flex;
  align-items: center;
  margin-right: 64px;
}
.phone_num img {
  margin-right: 10px;
}

button {
  background-color: white;
  border: 1px solid #121761;
  border-radius: 10px;
  color: #121761;
  padding: 12px 55px 15px 55px;
  cursor: pointer;
}

.section-first {
  padding-top: 40px;
  color: white;
  max-height: 535px;
}
.section-first .section-first {
  display: flex;
  align-items: center;
}
.section-first h1 {
  font-size: 45px;
}
.section-first p {
  font-size: 16px;
  padding-bottom: 15px;
}
.section-first span {
  border: 1px solid white;
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
}
.section-first .but {
  background-color: white;
  border: 1px solid #121761;
  border-radius: 10px;
  color: #121761;
  padding: 20px 99px 20px 99px;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 99px;
}

.image_container {
  display: flex;
  justify-content: space-between;
  padding-top: 140px;
  padding-bottom: 228px;
}
.image_container :first-child {
  background-image: url(../../img/ellipse\ first.svg);
  background-repeat: no-repeat;
  background-position: 72% 33%;
}
.image_container :nth-child(even) {
  background-image: url(../../img/ellipse_two.svg);
  background-repeat: no-repeat;
  background-position: 42% 36%;
}
.image_container :nth-child(3) {
  background-image: url(../../img/ellipse_three.svg);
  background-repeat: no-repeat;
  background-position: 72% 34%;
}

.text_two {
  padding-bottom: 105px;
}
.text_two span {
  border: 1px solid #D44B4B;
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 5px;
  box-shadow: 0 4px rgb(233, 233, 233);
}
.text_two p {
  font-size: 45px;
  text-align: center;
  font-weight: none;
}

.last_section {
  width: 1040px;
  height: 710px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}
.last_section .image {
  background-color: #D44B4B;
  height: 710px;
  width: 282px;
}
.last_section .image img {
  height: 100%;
}
.last_section .text_info {
  padding: 70px;
}
.last_section .text_info .p_first span {
  color: #D44B4B;
}
.last_section .text_info .p_second {
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 30px;
}
.last_section .text_info button {
  height: 72px;
  width: 460px;
  background-color: #D44B4B;
  color: white;
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 45px;
  border: none;
}
.last_section .text_info .txt {
  font-size: 16px;
  max-width: 354px;
  line-height: 26px;
}
.last_section .text_info .txt p {
  margin-bottom: 42px;
}
.last_section .text_info .txt ol {
  padding-left: 20px;
}
.last_section .line {
  position: absolute;
  right: 165px;
  bottom: 180px;
}

.working_hours .second_p, .working_hours .first_p, .working_hours .watch, .footer_text a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: white;
}

footer {
  background-color: #475658;
  padding: 61px;
  margin-top: 287px;
}
footer .footer_container {
  display: flex;
  align-items: center;
}
footer .logo_white {
  margin-right: 435px;
}

.footer_text {
  margin-right: 305px;
}
.footer_text .marker {
  display: flex;
  align-items: center;
}
.footer_text .marker img {
  margin-right: 13px;
}
.footer_text .footer_phone {
  display: flex;
  align-items: center;
}
.footer_text .footer_phone img {
  margin-right: 13px;
}
.working_hours .watch {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 10px;
}
.working_hours .watch img {
  margin-right: 10px;
}
.working_hours .first_p {
  margin-left: 32px;
}
.working_hours .second_p {
  margin-left: 32px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

.section {
  max-width: 1400px;
  margin: 0 auto;
}

.section-first {
  background-color: #D44B4B;
  background-image: url(../../img/ilustraton.png);
  background-repeat: no-repeat;
  background-position: 79% -447%;
}

.image_container {
  max-width: 1263px;
  margin: 0 auto;
}

.text_two {
  max-width: 870px;
  margin: 0 auto;
}

.last_section {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1040px;
}

.footer_container {
  max-width: 1400px;
  margin: 0 auto;
}

/*# sourceMappingURL=index.css.map */
