@import'../variables.scss';


.section-first {
    padding-top: 40px;
    color: white;
    max-height: 535px;

    .section-first {
        display:flex;
        align-items: center;
    }

    h1 {
        font-size: 45px;
    }

    p {
        font-size: 16px;
        padding-bottom: 15px;
    }
 

    span {
        border: 1px solid white;
        border-radius: 20px;
        padding-left: 12px;
        padding-right: 12px;
        padding-bottom: 5px;
    }
    .but {
        background-color: white;
        border: 1px solid #121761;
        border-radius: 10px;
        color: #121761;
        padding: 20px 99px 20px 99px;
        cursor: pointer;
        margin-top: 30px;
        margin-bottom: 99px;
    }
}