@import './variables.scss';
@import './fonts.scss';
@import './app/header.scss';
@import './sections/section-first.scss';
@import './sections/section-two.scss';
@import './sections/last_section.scss';
@import './app/footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1400px;
}

.section {
    max-width: 1400px;
    margin: 0 auto;
}
.section-first{
    background-color: $primary;
    background-image: url(../../img/ilustraton.png);
    background-repeat: no-repeat;
    background-position: 79% -447%;
}

.image_container {
    max-width: 1263px;
    margin: 0 auto;
}

.text_two {
    max-width: 870px;
    margin: 0 auto;
    
}

.last_section {
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1040px;
}

.footer_container{
    max-width: 1400px;
    margin: 0 auto;
}
