@import '../variables.scss';

%header-links {
    font-size: 20px;
    font-weight: 400;
    color: $secondary;
    text-decoration: none;
  }

  header {
    padding: 20px 0;
    .container {
        display: flex;
        align-items: center;
    }
  }

  .logo {
    margin-right: 235px;
  }


  nav {
    margin-right: 95px;
    a {
        @extend %header-links;

        &:first-child {
            margin-right: 85px;
        }

    }

  }

  .phone {
    display: flex;
    &_num {
        display: flex;
        align-items: center;
        margin-right: 64px;
        a {
            @extend %header-links;
        }
        img {
            margin-right: 10px;
        }
    }
  }

  button {
    @extend %header-links;
    background-color: white;
    border: 1px solid #121761;
    border-radius: 10px;
    color: #121761;
    padding: 12px 55px 15px 55px;
    cursor: pointer;
  }